In [1]:
import numpy as np
import pandas as pd

In [2]:
sabad=pd.read_csv('supermarket.csv') 
sabad

        Customer Id        Date                Product
0      JKML5ZWXP0XQ  2020-07-20         tropical fruit
1      YOGWQIUPDAJ7  2020-04-30             whole milk
2      Q3NL22281AF6  2020-09-18              pip fruit
3      C59GRTLMZQAU  2020-12-11       other vegetables
4      WUSF8LTEQZ5L  2020-01-02             whole milk
...             ...         ...                    ...
32705  PM1BQU9H9S2Q  2019-06-05                    oil
32706  6AWIAP3ZV551  2019-08-10          sliced cheese
32707  LRWVFLSC8X5B  2019-02-23                  candy
32708  8KYRMELYKNIH  2019-04-16               cake bar
32709  41NGW85T47Q1  2019-03-12  fruit/vegetable juice

[32710 rows x 3 columns]

In [7]:
sabad['Product'].nunique()

137

In [9]:
print("%.2f" % (sabad.groupby('Date').Product.count().mean()))

44.93

In [12]:
sabad['Product'].value_counts().tail(4)

bags                     4
baby cosmetics           3
kitchen utensil          1
preservation products    1
Name: Product, dtype: int64

In [26]:
twenty = sabad.loc[(sabad['Date'] >= '2020-01-01') & (sabad['Date'] < '2020-12-30')]
twenty.groupby('Customer Id').Product.count().sort_values().tail(5)

Customer Id
NQQZGF4K1FE0    20
ED8WY0DE27XG    20
0P1TPIH74E79    21
KACGV5OJXMJW    23
0ZRF32AJ06BC    26
Name: Product, dtype: int64

In [33]:
sabad['Day'] = pd.to_datetime(sabad['Date'])
sabad['Day']=sabad['Day'].dt.day_name()
sabad['Day'].max()

'Wednesday'

In [34]:
sabad['Product'].value_counts().head(5)

whole milk          2363
other vegetables    1827
rolls/buns          1646
soda                1453
yogurt              1285
Name: Product, dtype: int64